replicaCount: 1

image:
  repository: starwitorg/odp-adapter
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: ${project.version}

app:
  context_path: ""

service:
  port: 8080

odp:
  url: https://api.odp.staging.wolfsburg.digital/context/v2/entities/
  auth_url: https://auth.odp.staging.wolfsburg.digital/auth/realms/default/protocol/openid-connect/token
  update_frequency: 30000 # update every n milliseconds
  data_sync_frequency: 86400000 # sync data every 24 hours
  username: username
  password: password
  defaulttotal: 70
  servicepath: /ParkingManagement/Meckauerweg

analytics:
  disabled_area_prefix: disable
  observation_area_prefix: parking

analytics_db:
  url: jdbc:postgresql://localhost:5432/analytics
  username: analytics
  password: analytics

# extraEnv: |
#   - name: JAVA_TOOL_OPTIONS
#     value: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5000
#   - name: LOGGING_LEVEL_ROOT
#     value: DEBUG

autoscaling:
  enabled: false